body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* HEADER */

header {
    width: 100%;
    height: 461px;
    background: linear-gradient(to left, #003366, #0066cc);
    padding: 10px 0;
    text-align: center;
}

.nav-info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.nav-info .nav-item {
    display: flex;
    width: 23%;
    justify-content: space-between;
    flex-direction: row;
    color: #FFFFFF;
}

/* SEARCH-BOX */

.search-box {
    width: 75%;
    height: 10%;
    padding: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-box input[type="text"],
.search-box input[type="date"] {
    /* font-family: "Roboto", sans-serif; */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    flex: 1;
    margin: 0;
    min-width: 100px;
}

.search-box button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    flex-shrink: 0;
}

/* HOME */

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home .container {
    display: flex;
    margin-top: 30px;
    /* ????????? */
    justify-content: space-between;
    align-items: center;
}

.home .home-text {
    max-width: 430px;
    color: #FFFFFF;
    text-align: left;
}

/* CARDS */

.locations {
    background-color: #FFFFFF;
    padding: 40px 0;
}

.location-card {
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    width: calc(25% - 20px);
    box-sizing: border-box;
    margin-top: 40px;
    flex-shrink: 0;
}

.location-card img {
    width: 100%;
    height: 150px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

.location-card img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.location-card h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #000000;
    text-align: left;
}

.location-card p {
    font-size: 1rem;
    color: #000000;
    text-align: left;
}

.locations .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

/* PROMO */

.promo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo .container {
    display: flex;
    max-width: 80%;
    flex-direction: row;
    margin-top: 30px;
    /* ????????? */
    justify-content: space-between;
    align-items: center;
}

.promo .promo-text {
    max-width: 430px;

}

.promo h2 {
    color: #0056b3;
}

.promo span {
    color: #28a745;
}

/* FOOTER */

footer {
    display: flex;
    width: 100%;
    background-color: #009C3B;
    position: relative;
    flex-direction: column;
    bottom: 0;
}

.footer .green-footer {
    color: #FFFFFF;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
}

footer .yellow-footer {
    width: 100%;
    height: 50px;
    background-color: #FFDF00;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* RESPONSIVIDADE */

@media (max-width: 768px) {

    /* HEADER */

    /* HOME */

    .home {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .home .home-text {
        max-width: 230px;
        color: #FFFFFF;
        text-align: left;
    }

}

@media (max-width: 480px) {

    /* HEADER */

    .nav-item {
        display: none;
    }

    /* HOME */

    .home {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .home .home-text {
        max-width: 90%;
        color: #FFFFFF;
        text-align: left;
    }
}